# Ignoring binaries
bin

# Ignoring .png images
figures

# Ignoring data files
# data/*

# Ignoring Emacs temporary files
*\#*

# Ignoring large data files
*PS__N_NODES_1000__N_ITERS_PER_LINK_10__t1_MF_3284.576351__t2_MF_-7500__t3_MF_4500__N_AVRGNG_100000__INITIALIZE_RANDOMLY_0.csv
*PS__N_NODES_1000__N_ITERS_PER_LINK_10__t1_MF_3284.576351__t2_MF_-7500__t3_MF_4500__N_AVRGNG_100000__INITIALIZE_RANDOMLY_0.csv
*MF__N_NODES_1000__N_ITERS_PER_LINK_10__t1_MF_3284.576351__t2_MF_-7500__t3_MF_4500__N_AVRGNG_100000__INITIALIZE_RANDOMLY_0.csv
*MF__N_NODES_1000__N_ITERS_PER_LINK_10__t1_MF_3284.576351__t2_MF_-7500__t3_MF_4500__N_AVRGNG_100000__INITIALIZE_RANDOMLY_0.csv
